<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB + Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>MongoDB + Flask</h1>
    <div class="content">
        <form method="POST">
            <p>
                <label for="content">Todo Content</label>
            </p>
            <p>
                <input type="text" name="content" placeholder="add todo">
            </p>

            <p>
                <label for="degree">Degree</label>
            </p>
            <p>
                <input id="degree-0" type="radio" name="degree" value="important">
                <label for="degree-0">Important</label>
            </p>
            <p>
                <input id="degree-1" type="radio" name="degree" value="unimportant">
                <label for="degree-1">Unimportant</label>
            </p>
            <button type="submit">Submit</button>
        </form>
        
        {% for todo in todos %}
        <div class="todo">
            <p>{{ todo['content'] }} <i>{{ todo['degree'] }}</i></p>
            <form method="POST" action="{{ url_for('delete', id=todo['_id']) }}">
                <input type="submit" value="Delete Todo" onclick="return confirm('Are you sure you want to delete?')">
            </form>
        </div>
        {% endfor %}
    </div>
</body>

</html>
